/* CSS Document */

body { background-color: #F4F; }
.menu_pc_exerc { display: block; } 
.menu_mobile_exerc {display: none;}
.menu_pc_exerc ul li {
	list-style-type: none;
	padding: 10px;
	margin: 0px 10px;
	background: linear-gradient(#8B8B00, #FFFF00);
	border-radius: 15px; 
	text-shadow: 2px 2px 4px #F5F; 
	box-shadow: 10px 10px 5px grey;  
}

.pos_esq {float: left;}

@media screen and (max-width: 1200px) { 
	body {background-color: tan;}
	.menu_pc_exerc {display: none;}
	.menu_mobile_exerc {display: block;}
	.logo {
		height: 150px;
		margin: 0px auto;
		float: none;
	}

}

	

@media screen and (max-width: 600px) { 
	body {background-color: olive;}
	.menu_mobile_exerc {
		margin: 30px auto;
		padding: 0px;
		text-align: center;
	}
	.menu_mobile_exerc ul li {
		list-style-type: none;
		padding: 10px;
		margin: 0px 0px;
		background: #FFFF00;
		text-align: center;
	}
	.menu_mobile_exerc ul  {
		padding: 0px;
		margin: 0px;
	}
	.logo {
		height: 80px;
		margin: 0px auto;
		float: none;
	}
	.logo-centro {
		height: 300px;
		margin: 0px auto;
	}
	.texto-cabe {
		margin: 0px auto;
		color: aqua;
		text-align: center;
	} 
	.div-centro {
		margin: 0px auto;
		text-align: center;
	}
	.texto8 {
		margin: 10px;
	}
	.menu_mobile_exerc_2 {
		margin: 30px auto;
		padding: 0px;
		text-align: center;
	}
	.menu_mobile_exerc_2 ul li {
		list-style-type: none;
		padding: 10px;
		margin: 0px 0px;
		background: #FFAE00;
		text-align: center;
	}
	.menu_mobile_exerc_2 ul  {
		padding: 0px;
		margin: 10px;
	}
}

/* <a href="#" style="background:#FF8; padding:10px 50px;">Quem somos</a> */

