/* CSS Document */
body { background-color: tan; }
.menu_pc { display: block; } /* Block mostra e None omite. Utilidade  */
.menu_mobile {display: none;}

.pos_esq {float: left;}

@media screen and (max-width: 992px) { /* @media screen = transforma o site responsivel para multiplas configurações e tamanhos de monitores */
	body {background-color: #F4F;}
	.menu_pc {display: none;}
	.menu_mobile {display: block;}
    .menu_mobile_exerc ul li {
		list-style-type: none;
		padding: 10px;
		margin: 0px 10px;
	    background: linear-gradient(grey, #fff);
		border-radius: 15px; /* bordas arredondas e quanto maior mais sera arredondada */
		text-shadow: 2px 2px 4px #fff; /* sombra no texto */
		box-shadow: 10px 10px 5px #fff; /* sombra do box */ 
	}
.logo2 {
	width: 280px;
	height: 70px;
	float: left;
	border: solid 2px #020202;
}
}

@media screen and (max-width: 600px) { /* observe que nesse caso estamos informando que se a largura da tela for até 600px ela tera certos valores, incluso uma cor e já acima falamos que se a tela tiver até 992px, ela terá outros valores ou configurações */
	body {
		background-color: olive;
	}
}

/* EXERCÍCIO: */

body { background-color: #fff; }
.menu_pc_exerc { display: block; } /* Block mostra e None omite. Utilidade  */
.menu_mobile_exerc {display: none;}
.menu_pc_exerc ul li {
	list-style-type: none;
	padding: 10px;
	margin: 0px 10px;
	background: linear-gradient(grey, #fff);
	border-radius: 15px; /* bordas arredondas e quanto maior mais sera arredondada */
	text-shadow: 2px 2px 4px #fff; /* sombra no texto */
	box-shadow: 10px 10px 5px #fff; /* sombra do box */ 
}

.logo2 {
	width: 280px;
	height: 70px;
	float: left;
	border: solid 2px #020202;
}

.texto-cabe {
	margin: 0px 100px;
} 
.menu_pc_exerc {
	
}

.menu_mobile_exerc {
	
}
h1 {
	font-size: 40px;
	color: #2A56CF;	
}
header .cima {
	width: 1020px;
	margin: 0px auto; /* margem quando só tem 2 medidas, siginifica que a 1a medida "0px" será aplicada no Topo e Abaixo e "Auto" será aplicada na direita e esqerda */
	border: solid 2px #020202;
}