/* CSS Document */
* {
	color: #4791D4;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
}

.logo {
	height: 80px;
}

body {
	background: #F8F8F8;
}

header, footer {
	background: #2A81D2;
	color: #FFF;
} 

header .area {
	width: 1020px;
	margin: 0px auto; /* margem quando só tem 2 medidas, siginifica que a 1a medida "0px" será aplicada no Topo e Abaixo e "Auto" será aplicada na direita e esqerda */
	border: solid 2px #020202;
}

footer span {
	color: #FFF;
} 

.nomeEmpresa {
	color: #EBBB1C;
	font: 16px italic bold;
}

.destaque {
	border: 5px solid #000000;
	margin: 10px 5px 20px 15px; /* margem externa do box (objeto), foram postas 4 medidas e seguem sentido horário (acima, direita, abaixo e esquerda por ultimo) */
	padding: 10px 5px 20px 15px; /* margem interna do box (objeto) */
	height: 200px;
	width: 300px;
	background: #FFEB83;	
}

nav ul {
	margin: 0px; /* aplicara a mesma margem para todos os lados */
	padding: 0px;
}

.menu {
	list-style: none;
	padding: 10px;
}

.menu a {
	color: #FFF;
}

.esq {
	float: left;
}

h1 {
	font-size: 26px;
	color: #EBBB1C;
}

h2 {
	font-size: 24px;
}